.my-table-responsive
{
	width: 100%;
}
.my-table-responsive thead th
{
	background-color: #eeffee;
	font-size: 12px;
	padding: 10px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	text-align: center;
}
.my-table-responsive tbody td
{
	padding: 10px 1px 10px 1px;
	text-align: center;
}

.table-record th {
	padding-left: 0 !important;
	padding-right: 0 !important;
	border: 0 !important;
}

.table-record th:nth-child(odd) {
	padding-top: 0 !important;
	padding-bottom: 20px !important;
	padding-right: 5px !important;
}

.table-data {
	overflow-x: auto;
}

